{{define "base"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" type="image/x-icon" href="/public/assets/styles/images/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700">
        <link rel="stylesheet" type="text/css" href="/public/assets/styles/style.css">

        <link rel="stylesheet" href="/public/assets/styles/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/assets/styles/toastUI/tui-time-picker.css">
        <link rel="stylesheet" type="text/css" href="/public/assets/styles/toastUI/tui-date-picker.css">
        <link rel="stylesheet" type="text/css" href="/public/assets/dist/tui-calendar.css">
        <link rel="stylesheet" type="text/css" href="/public/assets/styles/calender_css/default.css">
        <link rel="stylesheet" type="text/css" href="/public/assets/styles/calender_css/icons.css">


        <title>{{.Title}}</title>
    </head>
    <body>
        <div id="top">
            <a href="#">
                <img style="width: 48px;margin-top: -15px;float: left;" src="/public/assets/styles/images/logo-mini-md.png">
                <h3 style="margin: -6px;margin-left: 13px;float: left;">EUAS International ICC Meeting Room Arrangement Application</h3>
            </a>
        </div>
    {{template "body" .}}
        
<!--        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="/public/assets/scripts/bootstrap/bootstrap.min.js"></script>
    -->         
    </body>
    </html>
{{end}}
